<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:url" content="https://pop.freevue.dev">
    <meta property="og:title" content="Freevue Toy">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://file.freevue.dev/images/logo/blog/squere-logo.png">
    <meta property="og:description" content="이 페이지는 존재하지 않습니다.">

    <title>Error | Freevue Toy</title>

    <link rel="shortcut icon" href="https://file.freevue.dev/images/logo/blog/squere-logo.png">
    <link rel="icon" href="https://file.freevue.dev/images/logo/blog/favicon.icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MXZ5RY7Y37"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MXZ5RY7Y37');
    </script>

    <link rel="stylesheet" href="/style/font.css">
    <link rel="stylesheet" href="/style/default.css">
    <link rel="stylesheet" href="/style/common.css">
</head>
<body>
<div id="app" class="fill height">
    <div class="container d-flex dir-column fill height">
        <div class="content d-flex flex-1 dir-column" style="align-items: center; justify-content: center;">
            <h3 style="margin-bottom: 2rem;">해당 페이지는 존재하지 않습니다.</h3>
            <a href="/">메인으로 돌아가기</a>
        </div>
        <p class="copyright text--center">© FreeVue</p>
    </div>
</div>
</body>
</html>
